:root {
    --background-color: #2E2937;
    --hover-backgroundcolor: #36AC8C;
    --text-color: #FDFAEF;
    --hover-textcolor: #F96767;
    --box-color: #F96767;
    --shadow-color: #C04756;
    --alternate:#8DB465; 
}

html {
    font-family: sans-serif; 
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%;
    color: var(--text-color);
}

body {
    margin: 0;
}

.App {
    background-color: var(--background-color);
    height: 100vh;
}
.header {
    padding: 10px;
}
.about-me{
    background-color: var(--hover-backgroundcolor);
}
.projects {
    background-color: var(--alternate);
}
.resume{
    background-color: var(--hover-textcolor);
}
.blog {
    background-color: var(--shadow-color);
}

.about-me, .projects, .resume, .blog {

}
.left-right {
    overflow:hidden;
    height:200px;
    width:200px;
    position:relative;
    background-color:#333;
}
.slider {
    width:200px;
    height:200px;
    position:absolute;
    top:0;
    right:-200px;
    background-color:#000;
    color:#fff;
    transition:0.4s ease;
}

.left-right:hover .slider {
  right:0;
}
